.my-app-login {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: larger;
    align-items: center;
}

.header {
    text-align: center;
    color: cornflowerblue;
}

.button {
    border-radius: 50px;
    height: 50px;
    max-width: 225px;
    min-width: 225px;
}

.inputBox {
    height: 50px;
    width: 225px;
}